<!-- About Section -->
<section id="about">
<div class="container">
  <div class="row">
    <div class="col-lg-12 text-center">
      <h2 class="section-heading">About</h2>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-4 col-lg-offset-2">
      <div class="timeline-image">
          <img class="img-circle img-responsive" src="img/team/1.jpg" alt="">
      </div>
    </div>
    <div class="col-lg-4">
      <p>I'm Paul. I'm studying Software Engineering at the University of Waterloo. I've been programming since high-school where I programmed small games and participated in programming contests.</p>
      <p>I have experience with iOS development as well as web development. You can also see other stuff I'm working on, over at my <a href="http://github.com/pbardea">Github</a> profile. </p>
      <p>When I'm not hacking away, you'll usually find me taking pictures or practicing a new magic trick.</p>
    </div>
  </div>
</div>
</section>
